.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  margin-left: 16px;
  }
.navbar-nav{
    margin-left: 78%;
  }
  .nav-item{
    padding: 0 0 0 4%;
  }
  .card-title{
    font-family: "Montserrat", sans-serif;
    padding: 3% 0 0 4%;
    color: white;
  }
  .card-text{
    padding: 3% 0 0 4%;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-weight: normal;
  }
  .btn{
    margin-top: 2%;
    margin-left: 3.5%;
  }
  .btn:hover{
    background-color: black;
  }
.text{
  padding: 7% 15%;
  text-align:center;
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}
.footer{
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  color:green;
}
.social-icon{
  margin: 20px 10px;
}
.copy{
  font-family: "Ubuntu", sans-serif;
  color: grey;
  font-size: 10px;
}
@media (max-width:900px)
{
  .card-title,.card-text,.text,.footer,.social-icon,.copy
  {
    text-align:center;
  }
  .card-title{
    font-size: 35px;
  }
  .card-text{
    font-size:20px;
  }
  .btn{
    margin-left: 40%;
  }
}
